@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.navbar-logo {
  width: 35px;
  height: 35px;
  border-radius: 20px;
}

.footer-logo {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.carousel-image {
  object-fit: cover;
  width: 400px;
  height: 400px;
}

.carditem {
  object-fit: cover;
  width: 700px;
  height: 400px;
}

.bg-hero {
  background-image: url("/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* .main-div {
  background-image: url("/hero-cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
} */
